* {
  margin: 0 auto;
}

body{
  font-family: 'Overpass Mono', monospace;
  height: 100vh;
  font-size: 1em;
  font-weight: normal;
}

.main-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  background-color: #ECECEC;
  position: fixed;
  top:0;
}

.part1{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1vw;
  border: solid 1px black;
  border-top: none;
  border-left: none;
}

.part2{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
  border-bottom: solid 1px;
}


.title-block{
  display: block;
  float: left;
  width: 60%;
  margin-top: 8vh;
  margin-left: 1vw;
  font-size: 2em;
  font-weight: 900;
  color: #00FF5F;
}



.nostyle{
  color: #00FF5F;
}

.nostyle:visited{
  color: #00FF5F;
}

.nostyle:hover{
background-color:#000070;
text-decoration: none;
}

.logo-work{
  display: block;
  width: 21%;
  text-align: right;
  margin-right: 5%;
  position: fixed;
  margin-top: 8vh;
  right: 0;
}



/*Todos estos textos abarcan el footer*/
.enlinea{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 5vh;
  position: fixed;
  bottom: 0;
  border-top: solid 1px black;
  background-color: #ECECEC;
}

.block{
  display: flex;
  width: 50%;
  height: 5vh;
  justify-content: center;
  align-items: center;
}

.border1{
  border-right: solid 1px black;
}

.mitad1{
  display: flex;
  flex-direction: row;
  width: 50%;
  border-right: solid 1px black;
}

.mitad2{
  display: flex;
  flex-direction: row;
  width: 50%;
}



.link-foot{
  text-decoration: none;
  color: #000070;
}

.link-foot:hover{
  text-decoration: underline;
}

.link-foot:visited{
  color: inherit;
}



/*Todos estos textos abarcan el contenido*/

.container{
  clear: both;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  line-height: 24pt;
}


.introduccion{
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: justify;
}

.introduccion2{
  width: 80%;
  padding-top: 10%;
  padding-bottom: 20%;
  text-align: justify;
}



.contenidos{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 90%;
}

.contenidos2{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 40%;
}

.contenidos3{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 100%;
}

.contenidos4{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 50%;
}

.contenidos5{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 60%;
}

.contenidos5x{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 60%;
}

.contenidos5xz{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 70%;
}

.contenidos5xy{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 48%;
}

.contenidos6{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 90%;
}

.contenidos7{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 70%;
}

.contenidos8{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-bottom: 80%;
}



.titulo{
  font-size: 4em;
  font-weight: 900;
  width: 90%;
  position: absolute;
  color: #000070;
  font-weight: 800;
  padding-top: 10%;
}
.titulo2{
  font-size: 4em;
  font-weight: 900;
  width: 90%;
  position: absolute;
  color: #000070;
  font-weight: 800;
}

.imagen-texto{
  display: flex;
  flex-direction: row;
}



.parrafos{
padding-right: 5%;
padding-top: 20%;
padding-left: 0.5%;
text-align: justify;
}

.parrafos2{
padding-right: 5%;
padding-top: 20%;
padding-left: 0.5%;
text-align: justify;
}




.imagen1{
  display: flex;
  width: 50%;
  height: 50%;
}

.imagen2{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.imagen3{
  display: flex;
  width: 100%;
  height: 100%;
}

.imagen4{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 7%;
}



.imagen-cambiente:hover{
background:
}



.bold{
  font-weight: bold;
}

.espacio{
margin-top: 5%;
}




/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    width: 50%;
    height: 50%;
}

#myImg:hover {
  -webkit-animation: shadow-pop-br  cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-br  cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.shadow-pop-br:hover {
  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}


@media screen and (max-width: 500px) and (min-width: 320px) {


  body{
    font-family: 'Overpass Mono', monospace;
    height: 100vh;
    font-size: 0.6em;
    font-weight: normal;
    color: #000070;
  }


  .enlinea{
    flex-direction: column;
    height: 10vh;
    font-size: 1.2em;
  }

  .mitad1{
    width: 100%;
    border-bottom: solid 1px black;
  }

  .mitad2{
    width: 100%;

  }

  .block{
    width: 50%;
  }


  .part1{
    justify-content: center;
    font-size: 1.2em;

  }
  .part2{
    justify-content: center;
    padding-right: 0vw;
    padding-left: 5%;
  }


  .container{
    width: 100vw;
    margin-bottom: 15vh;
    font-size: 1.5em;
    line-height: 20pt;
    height: auto;
  }


  .font{
    font-size: 0.7em;
  }

  .title-block{
    font-size: 1.8em;
    margin-left: 5%;
  }

  .logo-work{
    width: 30%;
  }


  .contenidos{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos2{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos3{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos4{
    flex-direction: row;
    width: 90%;
    margin-bottom: 30%;
  }

  .contenidos5{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;

  }

  .contenidos5x{
    margin-bottom: 0%;
    width: 90%;
  }

  .contenidos5xz{
    margin-bottom: 30%;
  }

  .contenidos5xy{
    margin-bottom: 0%;
    width: 90%;
  }

  .contenidos6{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos7{
    flex-direction: row;
    width: 90%;
    margin-bottom: 30%;
  }

  .contenidos8{
    flex-direction: row;
    width: 90%;
    margin-bottom: 30%;
  }

  .titulo{
  font-size: 1.6em;
  }

  .titulo2{
  font-size: 1.6em;
  }


  .imagen-texto{
    flex-direction: column;
  }

  .parrafos{
  padding-right: 0%;
  padding-top: 25%;
  padding-left: 0.5%;
  text-align: justify;
  }



  .imagen1{
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .imagen2{
    width: 100%;
    height: auto;
    padding-top: 0%;
  }

  .imagen3{
    margin-top: 10%;
    width: 100%;
    height: auto;
    padding-top: 0%;
  }

  .imagen4{
    width: 100%;
    height: auto;
    padding-top: 0%;
  }





  .peque{
    width: 30%;
  }

  iframe{
    width: 250px;
    height: 200px;
    margin-top: 10%;
  }

  #myImg{
    margin-top: 10%;
    width: 90%;
    height: auto;

  }

  .introduccion2{
    width: 90%;
    padding-bottom: 10%;
  }

  .introduccion{
    width: 90%;
    padding-bottom: 10%;
  }

  .parrafos2{
  padding-right: 0%;
  padding-top: 35%;
  padding-left: 0.5%;
  text-align: justify;
  }
}

@media screen and (max-width: 1023px) and (min-width: 500px) {
  body{
    font-family: 'Overpass Mono', monospace;
    height: 100vh;
    font-size: 0.6em;
    font-weight: normal;
    color: #000070;
  }

  .part1{
    justify-content: center;

  }
  .part2{
    justify-content: center;
    padding-right: 0vw;
    padding-left: 5%;
  }


  .container{
    width: 100vw;
    margin-bottom: 10%;
    font-size: 1.7em;
    line-height: 20pt;
    height: auto;
  }


  .font{
    font-size: 0.9em;
  }

  .title-block{
    font-size: 1.8em;
    margin-left: 5%;
  }


  .logo-work{
    width: 30%;
  }


  .contenidos{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos2{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos3{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos4{
    flex-direction: row;
    width: 90%;
    margin-bottom: 30%;
  }

  .contenidos5{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;

  }

  .contenidos5x{
    margin-bottom: 0%;
    width: 90%;
  }

  .contenidos6{
  flex-direction: row;
  width: 90%;
  margin-bottom: 30%;
  }

  .contenidos7{
    flex-direction: row;
    width: 90%;
    margin-bottom: 30%;
  }

  .contenidos8{
    flex-direction: row;
    width: 90%;
    margin-bottom: 30%;
  }

  .titulo{
  font-size: 2em;
  }

  .titulo2{
  font-size: 2em;
  }


  .imagen-texto{
    flex-direction: column;
  }

  .parrafos{
  padding-right: 0%;

  padding-left: 0.5%;
  text-align: justify;
  }



  .imagen1{
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .imagen2{
    width: 100%;
    height: auto;
    padding-top: 0%;
  }

  .peque{
    width: 40%;
  }

  iframe{
    width: 250px;
    height: 200px;
    margin-top: 10%;
  }
  #myImg{
    margin-top: 10%;
    width: 90%;
    height: auto;

  }

  .introduccion2{
    width: 80%;
    padding-bottom: 10%;
  }

  .parrafos2{
  padding-right: 0%;
  padding-top: 20%;
  padding-left: 0.5%;
  text-align: justify;
  }
}


@media screen and (max-width: 1300px) and (min-width: 1023px) {

  .contenidos3{
    margin-bottom: 150%;
  }

  .contenidos5{
    margin-bottom: 80%;
  }

  .contenidos4{
    margin-bottom: 60%;
  }

  .contenidos1024-1{
    margin-bottom: 40%;
  }

    .contenidos1024-2{
      margin-bottom: 130%;
    }
    .contenidos1024-3{
      margin-bottom: 100%;
    }

    .contenidos6{
      margin-bottom: 100%;
    }


  .titulo{
    line-height: 60pt;
  }

  .titulo1024{
    line-height: 60pt;
  }

  .parrafos2{
    margin-top: 15%;
  }
  .parrafos{
    margin-top: 3%;
  }
  .parrafos3{
    margin-top: 0%;
  }

  iframe{
    width: 600px;
    height: 500px;

  }

}
